---
to: <%= directoryPath %>/<%= filename %>.tsx
unless_exists: true
---
export interface <%= className %>Props {}

const <%= className %> = ({}: <%= className %>Props) => {
	return (
		<<%= elementName %>>
		</<%= elementName %>>
	);
};

export { <%= className %> };
